In [1]:
import mysql.connector

import pandas as pd

In [2]:

myconn = mysql.connector.connect(host="localhost", user="root", passwd="Ermahgerd.0406", database="new")
cur = myconn.cursor()

In [3]:
cur.execute('select ISBN from books')
all_isbn=cur.fetchall()
cur.execute('select distinct(sub_area) from books')
all_sub=cur.fetchall()

In [6]:
i=1
msg="This is a form to enter new book.\nPlease enter book ISBN:"
while i>0:
    isbn=input('{}\n'.format(msg))
    if len(isbn)==13:
        if (isbn,) in all_isbn:
            msg="Book already exist. Please enter a new ISBN:"
            i=1
        else:
            i=0
    else:
        msg='ISBN length does not match.\nPlease try again:'
title=input("Name of the book:\n")
author=input("Author of the book:\n")
descr=input("Provide description of the book, if any:\n")
df_sub=pd.DataFrame(all_sub,columns=['Subject Area'])
sub_area=input("What is the subject area of the book?\n{}".format(df_sub))
sub_area=df_sub['Subject Area'].iloc[int(sub_area)]
location=input("Specify location of the book in the library, if exist:\n")
acq_flag=0
acq=input('Is the book acquired by the Library?').lower().strip()
if acq[0]=='y':
    acq_flag=1
lend_flag=1
lend=input('Can it be lent to the members?').lower().strip()
if lend[0]=='n':
    lend_flag=0

cur.execute('select Staff_id from staff')
all_staff=cur.fetchall()
i=1
msg="Please enter your staff ID:"
while i>0:
    staff_id=input('{}\n'.format(msg))
    if (int(staff_id),) in all_staff:
        i=0
    else:
        msg="Staff Id doesn't exist. please try again:"
        i=1

ValueError: invalid literal for int() with base 10: ''

In [7]:
cur.execute("INSERT INTO books values (%s,%s,%s,%s,%s,%s,%s,%s,%s)",(isbn,title,author,descr,sub_area,location,acq_flag,lend_flag,staff_id))
myconn.commit()

DatabaseError: 1366 (HY000): Incorrect integer value: '' for column 'Location' at row 1

In [8]:
print(f'New record inserted by staff ID {staff_id}. Details are as follow:\n\nISBN: {isbn}\nTitle: {title}\nAuthor: {author}\nSubject Area: {sub_area}\nDescription: {descr}\n\n')

New record inserted by staff ID . Details are as follow:

ISBN: 1234567890125
Title: my
Author: me
Subject Area: non-fiction
Description: k